<header>
  <div class="header">
    <div class="header-blue"></div>
  </div>
 
</header>
<section>

  <h2 >Capturar Pedido</h2>

  <form  style="margin: 10px; display:flex; flex-wrap: wrap" [formGroup]="packageForm">

    <div style="margin: 10px">
      <mat-form-field>
      <mat-label for="sku">Id</mat-label>
      <mat-select [formControlName]="'sku'" name="sku" id="sku" (selectionChange)="selectedId($event.value)">
        <mat-option *ngFor="let element of Database;" [value]="element.sku">{{element.sku}}</mat-option>
      </mat-select>
      <mat-hint>Selecciona el id del producto</mat-hint>
      </mat-form-field>
    </div>

  
    <div style="margin: 10px">
      <mat-form-field>
        <mat-label for="quantity">Cantidad</mat-label>
        <input matInput placeholder="ingresa cantidad" type="number" min="1" [formControlName]="'quantity'" name="quantity" id="quantity">
        @if (packageForm.get('quantity').value <= 0){
        <mat-error>Ingresa un entero positivo</mat-error>
        }  
      </mat-form-field>
    </div>

    <div style="margin: 10px">
      <mat-form-field>
      <mat-label for="pasillo">Pasillo</mat-label>
      <input matInput placeholder="pasillo" type="number" [formControlName]="'aisle'" name="aisle" id="aisle">
      </mat-form-field>
    </div>

    <div style="margin: 10px">
      <mat-form-field>
      <mat-label for="price">Precio</mat-label>
      <input matInput placeholder="Precio" type="number" [formControlName]="'price'" name="price" id="price">
      </mat-form-field>
    </div>

    <div style="margin: 10px">
      <mat-form-field>
        <mat-label for="type">tipo</mat-label>
        <mat-select [formControlName]="'type'" name="type" id="type">
          <mat-option value="master">Master</mat-option>
          <mat-option value="piezas">Piezas</mat-option>
          <mat-option value="kilos">Kilos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="margin: 20px">
      <button mat-raised-button color="accent" type="button" (click)="addOrder();"> Agregar pedido</button>
    </div>
  </form>
</section>


<div class="container" *ngIf="orders.length > 0">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h1>Pedidos</h1>
      </div>
      <div class="panel-body">
          <table class="table-latitude">
                <caption>Pedido</caption>
                <thead>
                  <tr>
                    <th>No. de Orden</th>
                    <th>Id</th>
                    <th>Cantidad</th>
                    <th>Pasillo</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
             
              <tbody>
              @for (order of orders; track order.sku; let index = $index){
              <tr>
                
                <td>{{index + 1}}</td>
                <td>{{order.sku}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.aisle}}</td>
                <td>{{order.price | currency}}</td>
                <td>{{order.type}}</td>
                <td (click)="deleteElement(index)"><mat-icon class="trash-icon">delete_forever</mat-icon></td>
              </tr>
            }
            @empty {
            }
              </tbody>
          </table>
      </div>
  </div>
</div>



<router-outlet></router-outlet>
